@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-color: black;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    text-align: justify; 
    text-justify: inter-word;
    font-size: 16px;
}

.active a {
    font-weight: 700;
    color:orange;
}

.navbar {
    border-width: 0;
    box-shadow: 0px 3px 3px #000;
}
navbar navbar-inverse navbar-fixed-top {
    z-index:9999;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #0d0d0d;
}

.navbar-nav > li > .dropdown-menu a{ 
    color:orange;
}

.navbar-nav > li > .dropdown-menu a:hover{
    background-color: #404040;
    color:orange;
}

#jumbo, .content {
    box-shadow: 0px 10px 5px #000;
}

#jumbo{
	background-image: url("../img/rocket.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    margin: 50px auto;
    margin-bottom:0;
    min-height: 250px;
    
}

@font-face {
    font-family: MyFont;
    src: url("../fonts/HeadlineNEWS.ttf");
}

@font-face {
    font-family: MyFont2;
    src: url("../fonts/SANTO___.ttf");
}

@font-face {
    font-family: MyFont3;
    src: url("../fonts/CAS_ANTN.TTF");
}

.titre, .soustitre {
    text-align: center;
    margin:auto;
    font-family: MyFont;
    text-shadow: 0 1px 0 #ccc, 
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15),
           0px 10px 30px #000;
}
.titre {
	padding-top: 30px;
	color:white; 
	font-size: 50px;
	
	font-weight: 900;
	text-decoration: underline;


}
.soustitre {
	color:blue; 
	font-size: 70px;
	font-weight: 800;
 	text-shadow: 0 0px 0 #ccc, 
               0 0px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 2px 0 #b9b9b9,
               0 3px 0 #aaa,
               0 4px 1px rgba(0,0,0,.1),
               0 0px 5px rgba(0,0,0,.1),
               0 0px 3px rgba(0,0,0,.3),
               0 1px 5px rgba(0,0,0,.2),
               0 3px 10px rgba(0,0,0,.25),
               0 8px 10px rgba(0,0,0,.2),
               0 15px 20px rgba(0,0,0,.15),
               0px 10px 30px #000;
}

.bigorange {
    color:orange;
    font-family: MyFont3;
    font-size:20px;
}
/***************** CONTENT *****************/

h4, h2 {
    color:orange;
    font-family:MyFont;
    text-shadow:0px 2px 2px #000;
    animation: fadeEffect 1s;
}

.content, .foot {
    background-color: #262626;
    color:#b3b3b3;
    padding: 5px 30px;
   
}

iframe {
  display:block;
  margin:auto;
}

.commandements {
    font-family: MyFont3;
    font-size:25px;
    color:    #DAA520;
    text-shadow: 0px 2px 5px #000;
    margin: 20px 40px;
    padding:40px 100px;
    background: linear-gradient(to left, black, #333333, black);
    border: 3px inset #daa520; 
}

.article-title {
    color:orange; 
    font-size: 40px;
    font-family: MyFont;
    font-weight: 500;
    text-shadow: 0px 10px 30px #000;
    text-align: center;
    animation: fadeEffect 0.5s;
}

.trick {
    margin-top: -70px;
    padding-top: 50px;
}

/****** FOOTER ****/
footer #copyright{
    text-align: center;
    margin-top:-10px;
}

/******** IMAGE HOLDERS ***********/
.holder {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: fadeEffect 2s;
    height:300px;
} 

#holder-kickoff {
    background-image: url("../img/banner.jpg");
  
}
#holder-12 {
    background-image: url("../img/banner2.jpg");
}

#holder-tricks {
  background-image: url("../img/freeplay.jpg");
}

#hf-gif {
    width:70%;
    margin:auto;
}

/*************************************/

@media (max-width: 550px) {
  .titre {
    font-size: 25px;
  }
  .soustitre {
    font-size: 40px;
  }
  #jumbo {
    min-height: 150px;
  }
  .article-title {
    font-size: 20px;
  }

  .holder {
    height:150px;
  }

  .commandements {
    margin:0;
    width: 100%;
    padding: 5px;
    font-size:1.2em;
  }

  .blockquote-reverse {
    padding:0;
    margin:0;
  }

}
















